# archive
arch/assets/
arch/manuscripts/
arch/prints/
arch/presentations/

# guideline
arch/guideline/

# minutes
arch/minutes/

# resources
arch/resources

# journal cache & output
journal/jl_*
journal/*html

# data
data/

# deprecated scripts
src/deprecated/

# word documents
*.doc
*.docx

# tar balls
*.tar

# ignore manifest
Manifest.toml
