# Data folders
Data/

# Archive
Archive/Assets/
Archive/Plots/
Archive/Prints/
Archive/Presentations/

# R package
Script/Rpacks/

# Deprecated scripts
Script/Deprecated/

# Go Executables
Script/GoExecutables/

# guideline
Archive/Guideline/

# minutes
Archive/Minutes/

# word documents
*.doc
*.docx

# tar balls
*.tar
