# archive
arch/assets/
arch/prints/
arch/presentations/

# guideline
arch/guideline/

# minutes
arch/minutes/

# resources
arch/resources

# data
data/

# deprecated scripts
src/deprecated/

# word documents
*.doc
*.docx

# tar balls
*.tar
